<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%15.15t] --- %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%15.15t] --- %-40.40logger{39} : %msg%n</pattern>
        </encoder>
        <file>logs/cbfs_applog.log</file>
        <append>true</append>
    </appender>
    <appender name="TLP" class="hu.psprog.leaflet.tlp.appender.TinyLogProcessorAppender">
        <appID>@tlp.appID@</appID>
        <enabled>@tlp.enabled@</enabled>
        <host>@tlp.host@</host>
    </appender>
    <appender name="ASYNC-TLP" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TLP" />
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC-TLP" />
    </root>
</configuration>